<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>
<body>
    <h1>Delete products</h1>
    <form action="{{ url_for('delete_product') }}" method="POST">
        <label for="product_id">product_id:</label>
        <input type="text" id="username" name="username" required>

        <label for="product_name">product_name:</label>
        <input type="product" name="name" required>

        <label for="price">price:</label>
        <input type="number" price="number"  required>

        <label for="description">description:</label>
        <input type="text"   required>

        <input type="hidden" name="product_id" value="some_value">

        <button type="submit">Delete Product</button>
    </form>
</body>
</html>